.jumbotron{
    text-align: center;
    background: none;
    
}

.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.coolStuffWrapper{
    margin-top: 20px; 

}

button.coolStuffBtn {
background-color: red;
color: #ffffff;
display: block;
margin: auto;
}